html, body {
    margin: 0;
}

body {
    font-family: Inter;
}

.container {
    margin: 45px 40px;
}

/* ====== Header Component ====== */
header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}


/* ====== Entry Component 1 ====== */
/* article.journal-entry {
    display: flex;
}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
 */

/* ====== Entry Component 2 ====== */
#entry {
    width: 470px;
    height: 168px;
    display: flex;
    color: #2B283A;
    align-items: center;
    margin: 40px auto 0 auto;
}

#fuji {
    height: 168px;
    width: 125px;
    border-radius: 5px;
    margin-right: 18px;
}

#marker {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#info > h3, #marker > a, #marker > h2, #text {
    font-size: 10.24px;
}

#marker > img {
    width: 7px;
    margin-right: 5px;
}

#marker > h2 {
    margin-right: 10px;
}

#marker > a {
    color: #918E9B;
}

#info > h1 {
    font-size: 25px;
    margin-top: 0;
}
