.heading {
    color: darkblue;
    font-size: 15px;

/* transition-property, transition-duration, transition-timing-function, transition-delay */
    /* transition: font-size 0.5s ease-in 1s; */
    /* transition: all 1s ease-in 0s; */
    transition: all 0.5s ease;
}

.heading:hover {
    color: red;
    font-size: 25px;
}