.box {
    width: 100px;
    height: 100px;
    background: blue;
    border: 1px solid black;

    /* animation-name: grow;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 4;
    animation-direction: alternate; */

    /* animation-fill-mode: both;
    animation: grow 1s ease-in 1s 4 alternate; */

    animation: grow 1s ease 0s infinite alternate; /* infinite iteration doesnt need a fill-mode */
}

@keyframes grow {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}