.heading {
    color: darkblue;
    font-size: 15px;
   /* transition-property: all; */
    transition-property: font-size;
    transition-delay: 1s;
    transition-duration: 0.5s;
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease; */
    transition-timing-function: ease-in;
}

.heading:hover {
    color: red;
    font-size: 25px;
}