* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
}

.flex-container {
    border: 10px solid #F9F871;
    max-width: 700px;
    margin: 0 auto;
    padding: .25em;
    
    
    display: flex;
    justify-content: center;
/*  justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    justify-content: space-around; */

/* stretch is the default and align-items usually works with height set */
/*  align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline; */
    align-items: center;
    flex-direction: column;
}

.big {
    font-size: 2em;
}

.flex-item {
    background: #8BEE86;
    margin: 25px;
    padding: 25px;
    color: #424656;
}