* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    color: white;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    padding: 60px 30px;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}



/*
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #282D35;
    color: #ffff;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    background: #282D35;
    padding-left: 30px;
}

main > h1 {
    margin: 45px 0 45px 0;
}

main > ul > li {
    margin-bottom: 15px;
    font-weight: 300;
}
*/