:root {
    --main-color: blue;
}

.hover-text {
    transition: all 3s;
   /* transition-timing-function: cubic-bezier(.62,.15,.4,.9); */
}

.hover-text:hover {
    color: var(--main-color);
    font-size: 20px;
}

.box {
    position: fixed;
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    /* animation: size-down cubic-bezier(.62,.15,.4,.9) 0.5s infinite alternate both; */
    animation: size-down cubic-bezier(1,0,1,1) 0.5s 1 alternate both;

}

@keyframes size-down {
    100% {transform: scale(0.3, 0.3); background: var(--main-color);}
}
