body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif
}

.book {
    margin: 8px 30px 0px 10px;
}

#book-info {
    color: #565959;
    font-size: 12px;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 290px;
}

.author {
    margin: 10px 0px;
}

.the-cats {
    margin-top: 10px;
    font-weight: bold;
}

.ratings {
    width: 120px;
}

h1 {
    margin-bottom: 0px;
}

a {
    color: #007185
}

