body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #121212;
    
}

img {
    width: 380px;
    border: 3px solid #121212;
}

p {
    width: 380px;
    font-style: italic;
    text-align: center;
}

input {
    font-size: 14px;
    margin-top: 15px;
    padding: 9px 12px;
    border: 3px solid #121212;
    text-align: center;
    font-weight: bold
}

button {
    font-size: 14px;
    color: white;
    background: #121212;
    padding: 10px 59px;
    margin-top: 10px;
    font-weight: bold
}

a {
    color: #121212;
}