.grid {
  display: grid;

/* combining minmax and fr can be tricky */
  /* grid-template-columns: 1fr minmax(200px, 1fr) 1fr; */
  /* grid-template-columns: 200px 200px minmax(1fr, 500px); */ /* this wont work */
  /* grid-template-columns: 200px 200px minmax(auto, 500px); */
  grid-template-columns: 250px minmax(50px, 1fr) 1fr;
}

.grid-item {
  background: #B823C1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
    padding: 3em 2em;
    background: #FF5670;
}