.box {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow {
    /* from {width: 50px; height: 50px; background: red;}
    to {width: 50px; height: 100px; background: green;} */

    /* 0% {width: 50px; height: 50px; background: red;}
    50% {width: 100px; height: 50px; background: blue;}
    100% {width: 100px; height: 100px; background: green;} */

    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}