body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #fff;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #ef5839;
    font-size: 24px;
}
.container {
    width: 620px;
    margin: 0 auto;
    padding: 20px 0;
}

header, .section-two {
    background: #2e354f
}

.section-one p {
    color: #000;
}

.section-two {
    padding: 0 0 20px 0;
}

.section-two h2 {
    margin-top: 15px;
}

a {
    color: #ef5839;
}

a:hover, a:focus {
    color: blueviolet;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    margin: 5px 15px 0 0;
    font-weight: 800;
    text-decoration: none;
}

.btn-accent {
    background: #ef5839;
    color: #fff
}

.btn-accent:hover,
.btn-accent:focus {
    background: #fff;
    color: #ef5839;
    border: 1px solid #ef5839;
}

.btn-white {
    background: #fff;
    color: #2e354f;
}

.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background: #2e354f;
    border: 1px solid #fff;
}
