html, body {
    margin: 0;
}

header {
    background: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    color: #ffff
}

header > img {
    width: 24px;
}

header > h1 {
    font-size: 14.45px;
    font-weight: 500;
    margin: 5px 0 0 8px;
    font-family: Inter;
}


/* 
html, body {
    margin: 0;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
} */