body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #1B244A;
    height: 385px;
    width: 575;
    margin: auto;
    margin-top: 1px;
    box-sizing: border-box;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

#win {
    margin: auto;
    margin-top: 10%;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;                                             
    font-weight: 900;
    color: #1B244A;
    font-style: italic;
    width: 250px;
    border: 5px solid #1B244A;
    border-radius: 10px;                                   
}

.score {
    background: #080001;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    height: 120;
    width: 155;
    padding-right: 19px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;                                             
    font-size: 90px;
}

.plus {
    display: flex;
    justify-content: space-around;
}

.plus button, #new-game {
    font-size: 18px;
    color: #9AABD8;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
    height: 43px;
    width: 43px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin: 30px 0px 0 0;
}

#new-game {
    width: unset;
    height: 46px;
    margin: auto 0;
}

.plus button:hover,
#new-game:hover {
    color: #1B244A;
    background: #9AABD8;
    /* background: #EEEEEE; */
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 385px;
        height: 800;
        text-align: center;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .container div {
        margin: auto;
    }

    #new-game {
        width: 80px;
        margin: auto;
    }
}