/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    color: #1D3557;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: url("images/torshov.jpg");
    background-size: cover;
    color: #ffff
}

.hero-txt {
    width: 205px;
    height: 210px;
}

#visitTorshov {
    background: #457B9D;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 3px;
    margin-bottom: 8px;
}

#enjoyCulture {
    background: #1D3557;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
    margin: 0;

}

#activ-title {
    padding-top: 18px;
    margin: 0;
    font-size: 13px;
}

.activities {
    background: #F1FAEE;
}

.activs123 {
    display: flex;
    justify-content: space-around;
    padding: 8px 0px;
}

.activ {
    width: 200px;
    margin: 10px 20px;
}

#activ-img {
    border-radius: 100px;
    width:50px;
    margin-bottom: 5px;
}

#activ-txt1 {
    font-size: 9px;
    font-weight: bold;
    margin: 12px;
}

#activ-txt2 {
    font-size: 9px;
    margin: 0px;
}

img {
    width: 100px;
    border-radius: 4px;
}

.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 156px;
    background: #A8DADC;
    margin: 40px 50px;
    padding: 2px 0 0 11px;
    border-bottom: 5px solid #457B9D;
    border-radius: 4px;
}

#guide-info {
    font-size: 9px;
    padding: 0 14px;
}

#ur-guide {
    font-size: 13px;
}